/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11-04-2019, 16:48:39
    Author     : Sebastian
*/

.etapa{
    -fx-border-radius: 0px;
    -fx-background-color: transparent;
    -fx-graphic: url('/Clases_Figura/Estilos/Etapa.png');  
}
.canvas{
     -fx-background-color: #ffffff;
    
    
}

.etapa:hover{
    -fx-background-color: #e3dbc7;
    
}

.inicio{
    -fx-border-radius: 0px;
    -fx-background-color: transparent;
    -fx-graphic: url('/Clases_Figura/Estilos/Inicio.png');  
}
.inicio:hover{
    -fx-background-color: #e3dbc7;
}


.limpiar{
    -fx-border-radius: 0px;
    -fx-background-color: transparent;
    -fx-graphic: url('/Clases_Figura/Estilos/Limpiar.png');  
}
.limpiar:hover{
    -fx-background-color: #e3dbc7;
}


.flujo{
    -fx-border-radius: 0px;
    -fx-background-color: transparent;
    -fx-graphic: url('/Clases_Figura/Estilos/Flujo.png');  
}
.flujo:hover{
    -fx-background-color: #e3dbc7;
}

.entrada{
    -fx-border-radius: 0px;
    -fx-background-color: transparent;
    -fx-graphic: url('/Clases_Figura/Estilos/Entrada.png');  
}
.entrada:hover{
    -fx-background-color: #e3dbc7;
}
.documento{
    -fx-border-radius: 0px;
    -fx-background-color: transparent;
    -fx-graphic: url('/Clases_Figura/Estilos/Documento.png');  
}
.documento:hover{
    -fx-background-color: #e3dbc7;
    
    
}


.cortar{
    -fx-border-radius: 0px;
    -fx-background-color: transparent;
    -fx-graphic: url('/Clases_Figura/Estilos/Cortar.png');  
}
.cortar:hover{
    -fx-background-color: #e3dbc7;
    
    
}